html {
  font-size: 14px;
}

.input-validation-error {
  border-color: #db3434;
  outline: #db3434;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}